<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="es.unizar.eina.frankenstory">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:name=".MyApplication"
        android:icon="@mipmap/logo_franken"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_franken_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Frankenstory">
        <activity
            android:name=".general.LogInActivity"
            android:exported="false"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".general.SplashScreenActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".general.RegisterActivity"
            android:exported="false"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".general.MainMenuActivity"
            android:exported="false"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".general.SettingsActivity"
            android:exported="false"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".general.FriendsActivity"
            android:exported="false"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".story.StoryActivity"
            android:exported="false"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".story.CreateStoryActivity"
            android:exported="false"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".story.StoryFirstWriteActivity"
            android:exported="false"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".story.StoryNotFirstWriteActivity"
            android:exported="false"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".story.VoteStoryActivity"
            android:exported="false"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>